.login {
  display: flex;
  flex-direction: column;
  margin: 8rem auto;
  max-height: 100vh;
  width: 80vw;
}
.login__text {
  text-align: center;
  margin-bottom: 2rem;
}
.login__text p {
  color: #8d8d8d;
}
.login__form form {
  display: flex;
  flex-direction: column;
}
.login__form__input {
  width: 70vw;
}
.login__form__input:first-child {
  margin-bottom: 1.5rem;
}
.login__recovery {
  width: 70vw;
  text-align: right;
}

.login__submit {
  margin-top: 2rem;
  width: 100%;
}
.login__form .login__submit__button {
  background-color: #17a3ff;
  padding: 1rem;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 22px;
  width: 70vw;
  margin-top: 2rem;
  cursor: pointer;
}
.login__submit__register {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.link {
  color: #17a3ff;
  background-color: transparent;
  width: fit-content;
  font-size: 16px;
  padding-left: 0.3rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.login__form__input input {
  background-color: #172231;
  border-radius: 15px;
  color: white;
  padding: 1rem;
  font-size: 20px;
  width: 100%;
  border: transparent;
  outline: none;
}
.login__form__input::placeholder {
  color: #8d8d8d;
}

.input__error {
  border: 2px solid red !important;
}
.image {
  display: none;
}
.login__recovery__button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  text-align: center;
  color: #a7a1a1;
  font-size: 14px;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .main {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
  .image {
    width: 50vw;
    height: 100vh;
    background-color: #03152c;
    display: flex;
    flex-direction: column;
    padding: 10rem;
    align-items: center;
  }
  .image img {
    width: 25vw;
    height: auto;
  }
  .image h2 {
    padding: 3rem 0;
  }
  .login {
    width: 50vw;
    justify-content: center;
  }
  .login__form__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
  }
  .login__form__input input {
    width: 100%;
  }

  .login__submit__button {
    max-width: 30vw;
  }
  .login__recovery {
    width: 30vw;
  }
}
